body {
    background-color: lightgray;
    font-family: monospace;
    font-size: 12px;
}

.pagination__item {
    padding: 10px;
}

.articles-grid {
    width: 1000px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.register-grid {
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-family: monospace;
    font-size: 12px;
}

.login-grid {
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-family: monospace;
    font-size: 12px;
}